$font: "Nunito", sans-serif;

$col-white: #fff;
$col-black: #000;

$col-primary: #73c0b5;
$col-primary-2: #4b465d;

$col-secondary: #131124;
$col-secondary-2: #9a777c;
$col-secondary-3: rgba(250, 225, 221, 0.6);
$col-secondary-4: #caf0f8;
$col-secondary-5: #8fd3e8;

$col-light-grey: #d3d9e0;
$col-dark-grey: #b5bdc8;
$col-grey-1: #efefef;

$col-dark: #333;

//pastel colors
$col-pastel-1: #fdffb6;
$col-pastel-2: #caffbf;
$col-pastel-3: #9bf6ff;
$col-pastel-4: #a0c4ff;
$col-pastel-5: #ffc6ff;
